/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- NAVBAR --- */
#topNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  backdrop-filter: blur(6px);
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 2;
}

#topNav.scrolled {
  background-color: #f28f2c;
}

#topNav img {
  height: 32px;
  cursor: pointer;
}

#topNav .burgermenuOgTekst {
  display: flex;
  align-items: center;
  gap: 30px;
}

#topNav .nav-logo {
  height: 30px;
  justify-content: center;
}

/* lumina logo i nav bar bliver gemt ved scroll */
.nav-logo {
  transition: opacity 0.3s ease;
}

.nav-logo.hidden {
  opacity: 0;
  pointer-events: none;
}

#topNav .lumina-tekst-logo {
  height: 20px;
  padding-left: 2px;
  position: relative;
  top: -6px;
}

/* Hero */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin-top: -32px;
  margin-bottom: 8px;
}

/* hero video */
.hero__video {
  position: absolute;
  top: 150px;
  left: 153px;
  width: auto;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  z-index: 0;
}

/* overskrift og titel i hero */
.hero-text {
  position: absolute;
  z-index: 1;
  color: rgb(0, 0, 0);
  font-family: "Space Grotesk", sans-serif;
}

.p3 {
  color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  margin-top: 16px;
  margin-bottom: 50px;
}

.p4 {
  color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}

/* lumina hero center tekst */
.hero-text {
  right: 154px;
  top: 400px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  text-align: right;
}
/* LUMINA tekst */
.hero-text h1 {
  font-size: 68px;
  margin: 0.5rem 0;
  color: rgb(0, 0, 0);
}

/* bruges til ordet ONE */
.hero-text .p1 {
  font-size: 69px;
  font-family: "Judson", serif;
  color: #000000;
  margin: 0;
  margin-top: -40px;
}

/* her kommer pris og køb nu knap */

/*KØB NU knappen*/
.button-køb-nu {
  background-color: #f28f2c;
  color: black;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  width: 190px;
  border: black 1px solid;
}

/* Hover-effekt */
.button-køb-nu:hover {
  background-color: #f28f2c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* Klik-effekt */
.button-køb-nu:active {
  background-color: #f28f2c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

/* Tilstand når klikket */
.button-køb-nu.active {
  background-color: #fffcf7;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: #f28f2c 1px solid;
}

.pris-og-knap {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 80px;
}

.hero-text .pris {
  font-family: "Inria Sans", sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

/* Orange linje under header */
.orange-info-bar {
  background-color: #ffebd1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 20px;
  color: black;
  font-family: "Inter", sans-serif;
  margin-top: -20px;
}

/* Hvert ikon + tekst */
.fragtIkon {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Ikon størrelse */
.trustpilotOrangeBar img {
  width: auto;
  height: auto;
  object-fit: contain;
}

.garantiIkon {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Teksten i den orange bar */
.orange-info-bar p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: black;
}

/* Main */
main {
  position: relative;
  background: #ffffff;
  padding: 1rem;
}

/* Karusel */
.karusel-container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}

/* ----- SCROLL OMRÅDE ----- */
.produkt-scroll {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0 10px;
  scrollbar-width: none;
}

.produkt-scroll::-webkit-scrollbar {
  display: none;
}

/* ----- PRODUKT KORT ----- */
.produkt-kort-ny {
  min-width: calc((1200px - 80px) / 3);

  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
}

.produkt-kort-ny img {
  width: 100%;
  border-radius: 20px;
}

.produkt-kort-ny h2 {
  font-size: 32px;
  margin: 18px 0 10px;
  font-family: "Inria Sans", sans-serif;
  color: #000000;
  font-weight: lighter;
}

/* ---- FARVET CIRKLER ---- */
.farve-cirkler {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #000000;
}

.hvid {
  background: #eae4de;
}
.rose {
  background: #d28e92;
}
.lavender {
  background: #dfcad7;
}
.grøn {
  background: #aac29f;
}

/* ---- PRISEN ---- */
.prisen {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 20px;
  color: #000000;
  font-family: "Inria Sans", sans-serif;
  font-weight: lighter;
}

/* ---- KNAPPERNE ---- */
.kort-knapper {
  display: flex;
  justify-content: space-between;
}

.læs-mere-knap {
  background: #f9e5c6;
  border: 1px solid black;
  padding: 12px 30px;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

.køb-nu-knap {
  background: #f19a2b;
  border: 1px solid black;
  padding: 12px 40px;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

.køb-nu-knap:hover,
.læs-mere-knap:hover {
  opacity: 0.9;
}
/* trustpilot anmeldelser */
.trustpilot-kasser {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 20px;
}

.anmeldelse-kort {
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.stjerner span {
  color: #00b67a;
  font-size: 20px;
  font-weight: bold;
}

.dato {
  color: #282b30;
  font-size: 14px;
}

.anmeldelse-kort h3 {
  font-size: 20px;
  margin: 0;
}

.tekst {
  color: #555;
  line-height: 1.6;
}

.navn {
  font-weight: bold;
  margin-top: 10px;
}

/* Billedet af trustpilot under anmeldelser */
.trustpilot-rating-bunden {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* kommer snart */
.kommer-snart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 120px 154px 80px 154px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: italic;
  margin-top: -100px;
}

.kommer-snart-indhold {
  max-width: 480px;
}

.kommer-snart-tekst {
  color: #f28f2c;
  font-size: 60px;
  margin-bottom: 0;
  font-family: "judson", serif;
  font-style: italic;
  font-weight: 100;
}

.lumina-titel {
  font-size: 60px;
  font-weight: 800;
  margin-top: -20px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
}

.lumina-beskrivelse {
  margin: 15px 0;
  line-height: 1.6;
  font-size: 16px;
  max-width: 400px;
  margin-top: 70px;
}

.email-tekst {
  margin-top: 70px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 16px;
}

/* Billedstyling */
.lumina-kommer-snart-billede img {
  width: 480px;
  height: auto;
  object-fit: contain;
}

/*lumina logo over om os tekst*/
#minilogo {
  display: flex;
  justify-content: center;
}

#minilogo img {
  max-width: 120px;
  height: 95px;
  padding-bottom: 30px;
}

/*om os tekst*/
p.p2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  line-height: 36px;
  font-size: 1.1rem;
  padding-bottom: 80px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}

/* Footer top 3 kolonner */
.footer {
  background-color: #f28f2c;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
  color: #000;
}

.footer article {
  height: auto;
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 16px;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  color: #000000;
}

/* Footer bund sektion */
.lumina-footer {
  background-color: #f28f2c;
  padding: 25px 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.footer-left p {
  margin: 4px 0;
  font-size: 14px;
}

.footer-right {
  text-align: right;
}

.newsletter-label {
  margin: 0 0 8px 0;
  font-size: 14px;
  text-align: left;
}

.footer-signup {
  display: flex;
  align-items: center;
  background-color: #f3ead8;
  padding: 6px 10px;
  border-radius: 12px;
  gap: 10px;
}

.footer-signup input {
  border: none;
  background: transparent;
  padding: 6px 8px;
  font-size: 14px;
  outline: none;
  width: 180px;
}

.footer-signup button {
  background-color: #6b4321;
  border: none;
  padding: 5px 12px;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

.footer-signup button:disabled {
  background-color: #f28f2c;
  cursor: default;
  border: #000000 1px solid;
}

/* Copyright nederst */
#bunden {
  background-color: #f28f2c;
  padding: 10px 2rem;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
  body {
    background-color: #ffffff;
  }
  #photos {
    display: block;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    background-color: #ffffff;
  }
  #photos {
    display: block;
  }
}
